<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
        .box2 {
            width: 1000px;
            height: 1000px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- <div v-on:click="isActive=!isActive" v-bind:class="['box',{active:isActive}]">呵呵</div> -->
        <div v-bind:style="{'backgroundColor':color}">
            123
        </div>
        {{color}}
        <input type="color" v-model="color">
        <input type="range" v-model="range">
        <div class="box2" v-bind:style="{backgroundColor:'rgba(0,0,0,'+(range/100)+')'}"></div>
    </div>
    <script>
        var vm=new Vue({
            el:"#app",
            data:{
                className:'active',
                isActive:false,
                color:'',
                range:0
            }
        })
    </script>
</body>
</html>